- index = 1
- Book.columns.map(&:name).each do |col|
  - unless ["id", "created_at", "updated_at"].include? col
    %fieldset
      %strong
        = f.label col, id: col, class: "margin-no-top"
      - if col == "published_on"
        = f.date_field col, max: (Time.now + 3.years), value: Time.now, "aria-labelledby": col, tabindex: index
      - elsif col == "synopsis"
        =find_and_preserve do
          = f.text_area col, rows: 20, cols: 45, "aria-labelledby": col, tabindex: index
      - else
        = f.text_field col, "aria-labelledby": col, tabindex: index
    - index += 1
%fieldset
  %strong
    = f.label :authors, id: "authors", class: "margin-no-top"
  = select_tag(:authors, collection: Author.all, fields: [:full_name, :id], tabindex: index, multiple: "multiple", selected: @book.authors.map(&:id), name: "authors")
  - index += 1
%fieldset
  %strong
    = f.label :genres, id: "genres", class: "margin-no-top"
  = select_tag(:genres, collection: Genre.all, fields: [:name, :id], tabindex: index, multiple: "multiple", selected: @book.genres.map(&:id), name: "genres")
  - index += 1
%fieldset
  = f.submit "Submit", class: "pink-button", role: "button", tabindex: index
