%main(itemscope itemtype="https://schema.org/Book")
  .row
    %h1.col--5-12-offset-2.col--mob-2-4(itemprop="name")
      = @book.title.html_safe
    %em.secondary-colour.display-block.col--5-12-offset-2.col--mob-4-4
      by #{ @book.authors.map(&:full_name).join(", ")}
    %section
      .row
        .col--9-12-offset-2.col--mob-4-4
          %picture(aria-label="Product Image")
            %source{media: "(min-width:1225px)", srcset: "/images/a-little-bit_product-944x452.jpg", alt: "A Little Bit Product"}
            %source{media: "(min-width:960px)", srcset: "/images/book-group-medium.png"}
            = image_tag "book-group-small.png", alt: "A Little Bit Product"
      %ul.inline-list.row
        %li.col--3-12-offset-4.col--mob-4-4>
          .book-format.paperback
            %strong PAPERBACK
            £8.00 + Postage
            %a{href: "#", class: "buy pink-button"} Buy
        %li.col--3-12.col--mob-4-4>
          .book-format.ebook
            %strong EBOOK
            £8.00 + Postage
            %a{href: "#", class: "buy pink-button"} Buy
    %article
      .row
        %article.margin-no-top.col--6-12-offset-2.col--mob-4-4>
          - synopsis = Haml::Engine.new(@book.synopsis)
          = synopsis.render.html_safe
        %section.margin-no-top.col--3-12.col--mob-4-4>
          %section#additional-info.margin-no-top
            %span.dark-grey.medium-font Additional Info
            %p(itemprop="isbn")
              ISBN:
              %br
              %strong 978-1-9375571-0-2
            %p(itemprop="bookFormat")
              Paperback:
              %br
              %strong 154 pages
          %section.b-2-top.b-pink
            %h2(itemprop="author") About the #{pluralize(@book.authors.count, "Author").gsub(/\d/, "")}
            - @book.authors.each do |author|
              %p
                = image_tag "#{author.image_url}", alt: "#{author.full_name}", class: "inline-image"
                %p.dark-grey.medium-font #{author.full_name}
                .dark-grey.small-font
                  = author.biography
                .display-block
                  .dark-grey.small-font Born:  
                  %span.dark-grey.medium-font #{author.dob.nil? ? "Unknown" : author.dob.strftime("%d %B %Y")}, #{author.place_of_birth}
      
    %section
      .row
        %h2.b-2-top.b-pink.col--9-12-offset-2.col--mob-4-4.p-15-top
          What people are saying
      .row
        %blockquote.blockquote-pink.col--4-12-offset-2.col--mob-4-4>
          When the poet Paul Valery once asked Albert Einstein if he kept a notebook to record his ideas, Einstein looked at him with mild but genuine surprise. "Oh, that's not necessary," he replied . "It's so seldom I have one.  
          %cite
            Bill Bryson
        %blockquote.blockquote-pink.col--4-12.col--mob-4-4>
          So Einstein was wrong when he said, "God does not play dice." Consideration of black holes suggests, not only that God does play dice, but that he sometimes confuses us by throwing them where they can't be seen.
          %cite
            Stephen Hawking

  %aside
    .row
      .aside-heading.b-2-top.b-pink.col--9-12-offset-2.col--mob-4-4.p-15-top More Bits...
    %ul.inline-list.row
      %li.col--2-12-offset-2.col--mob-2-4
        .more-bits
          %a{href: "#"}
            = image_tag "more-books.png", alt: "More Books"
            .display-block a Little Bit more <strong>Knowledge</strong>
      %li.col--2-12.col--mob-2-4
        .more-bits
          %a{href: "#"}
            = image_tag "more-books.png", alt: "More Books"
            .display-block a Little Bit more <strong>Knowledge</strong>
      %li.col--2-12.col--mob-2-4
        .more-bits
          %a{href: "#"}
          = image_tag "more-books.png", alt: "More Books"
          .display-block a Little Bit more <strong>Knowledge</strong>
      %li.col--2-12.col--mob-2-4
        .more-bits
          %a{href: "#"}
            = image_tag "more-books.png", alt: "More Books"
            .display-block a Little Bit more <strong>Knowledge</strong>
